html{
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Wix Madefor Display', sans-serif;
 }

*{
  box-sizing: border-box;
 }

 body{
  font-family: 'Nunito Sans', sans-serif;
  /* color: #ffff; */
  line-height: 1.5;

 }